@model InternDiary.ViewModels.EntryVM.EntryDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Entry</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Entry.Date)
        </dt>

        <dd>
            @Html.ValueFor(model => model.Entry.Date, "{0:dd/MM/yyyy}")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Entry.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entry.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Entry.Rating)
        </dt>

        <dd class="displayRating">
            @Html.DisplayFor(model => model.Entry.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Entry.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entry.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SkillsLearnt)
        </dt>

        <dd>
            @if (string.IsNullOrEmpty(Model.SkillsLearnt))
            {
                @Html.Raw("None")
            }
            else
            {
                @Html.DisplayFor(model => model.SkillsLearnt)
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Entry.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {
    @Scripts.Render("~/Scripts/StarRating.js")
}