@model InternDiary.ViewModels.EntryVM.EntryIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create") |
    @Html.ActionLink("Save all Entries as Word Doc", "EntriesToDocx", "File")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Entries.First().Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entries.First().Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entries.First().Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SkillsLearntCount)
        </th>
        <th></th>
    </tr>

    @for (int i = 0; i < Model.Entries.Count(); i++)
    {
        <tr>
            <td>
                @Html.ValueFor(modelItem => Model.Entries[i].Date, "{0:dd/MM/yyyy}")
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Entries[i].Title)
            </td>
            <td class="displayRating">
                @Html.DisplayFor(modelItem => Model.Entries[i].Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.SkillsLearntCount[i])
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Entries[i].Id }) |
                @Html.ActionLink("Details", "Details", new { id = Model.Entries[i].Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = Model.Entries[i].Id })
            </td>
        </tr>
    }

</table>

@section Scripts {
    @Scripts.Render("~/Scripts/StarRating.js")
}